name: Build & Deploy

on: workflow_dispatch

jobs:
  build:
    environment:
      name: lichens

    runs-on: ubuntu-latest

    strategy:
      matrix:
        BUILD_TARGET: [release]

    steps:
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - uses: actions/checkout@v5

      - name: Build binaries in "${{ matrix.BUILD_TARGET }}" mode
        run: cargo build --profile ${{ matrix.BUILD_TARGET }}

      - name: Generate html in "${{ matrix.BUILD_TARGET }}" mode
        env:
          TURSO_AUTH_TOKEN: ${{ secrets.TURSO_AUTH_TOKEN }}
          TURSO_DATABASE_URL: ${{ secrets.TURSO_DATABASE_URL }}
        run: CARGO_INCREMENTAL="0" DEV_MODE=0 RUST_MIN_STACK="33554432" TURSO_AUTH_TOKEN=${{ secrets.TURSO_AUTH_TOKEN }} TURSO_DATABASE_URL=${{ secrets.TURSO_DATABASE_URL }} cargo run --profile ${{ matrix.BUILD_TARGET }}

  upload:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload static files as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: html

  deploy:
    needs: upload
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

    
